<html>
    <h1>Pages:</h1>
    <p><a href="/dashboard/warehouse_staff/">Warehouse Staff</a></p>
    <p><a href="/dashboard/supplier/">Suppliers</a></p>
    <p><a href="/dashboard/batch/">Batches</a></p>
    <p><a href="/dashboard/client_company/">Client Companies</a></p>
    <p><a href="/dashboard/item/">Items</a></p>
    <p><a href="/dashboard/sales_agent/">Sales Agents</a></p>
    <p><a href="/dashboard/delivery/">Deliveries</a></p>
    <p><a href="/dashboard/issuance/">Issuances</a></p>
    <p><a href="/dashboard/sales_invoice/">Sales Invoices</a></p>
    <p><a href="/dashboard/item_return/">Item Returns</a></p>
    <p><a href="/dashboard/item_transfer/">Item Transfers</a></p>
    <p><a href="/dashboard/discount/">Discounts</a></p>
    <p><a href="/dashboard/query/">Query SQL</a></p>
</html>