<html>
    <h1>Items</h1>
    <table>
        <tr>
            <th>Item ID</th>
            <th>Description</th>
            <th>Cost</th>
            <th>SRP</th>
            <th>Classification</th>
            <th>Supplier ID</th>
        </tr>
        {% for object in item %}
        <tr>
            <td>{{object.itemid}}</td>
            <td>{{object.description}}</td>
            <td>{{object.cost}}</td>
            <td>{{object.srp}}</td>
            <td>{{object.classification}}</td>
            <td>{{object.supplierid.supplierid}}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="/dashboard/">Dashboard</a> <a href="/dashboard/query/">Query SQL</a></p>
</html>